.blue-color{
  color:#3FADA8;
}
.light-gray-color{
  color: #808080;
}
.middle{
  text-align: center;
}
nav{
  background-color:#3FADA8 ;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 80%;

}
.fw-700{
  font-weight: 700;
}
.fw-500{
  font-weight: 500;
}
/* Home Page */
@media only screen and (max-width: 992px){
  .navbar-img{
    width:90%
  }
}
@media only screen and (min-width: 992px){
  .navbar-img{
    width:80%
  }
  .first-nav{
    margin-left: 30px;
  }
}
@media only screen and (min-width: 768px){
  .social-buttons-links{
    float: right;
    padding-top: 15px;
  }
}

@media only screen and (max-width: 768px){
  .social-buttons-links{
    float:left;
    margin-bottom: 10px;
  }
}
.homePageContent, span{
  font-family: 'Open Sans', sans-serif;
}

/* History */
.historyAmount{
  color:#000;
}
.historyStatus{
  float:right;
}

/* Footer */
.bg-footer{
  background-color: #eeeeee;
}
.footerText{
  font-size: 80%;
}