html, body {
  height: 100%;
}
.wrapper {
  height:auto !important;
  min-height:100vh;
}
.blue-color{
  color:#3FADA8;
}
.light-gray-color{
  color: #808080;
}
.middle{
  text-align: center;
}
.white{
  color:#fff;
}
nav{
  background-color:#3FADA8 ;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 80%;

}
.navStyle:hover{
  color:#000;
  text-decoration: none;
  background-color: #fff;
}
.black{
  color:#000;
}
.fw-700{
  font-weight: 700;
}
.fw-500{
  font-weight: 500;
}
/* Home Page */
/* .inputForm:hover{
  box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.2);

} */
.homePageContent, span{
  font-family: 'Open Sans', sans-serif;
}
.formStyle{
  color: #e6001d;
  font-size: 70%;
}
.homeContainer{
  padding-bottom: 120px;
}
.textarea{
  font-weight: 100;
}
/* History */
.historyAmount{
  color:#000;
  float: right;
  padding-left: 10px;
}
.historyStatus{
  float:right;
  padding-left: 10px;
}
.all-reimbursements:hover{
  color:#3FADA8;
}
.borderCard{
  border:1px solid #000;
}
.submission{
  font-size: 90%;
}
input[type='radio']:after {
  width: 18px;
  height: 18px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 18px;
  height: 18px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #3FADA8;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

/* Footer */
.bg-footer{
  background-color:#3FADA8;
}
.footerText{
  font-size: 80%;
  color:#fff;
}
/* Login */
.campus-bg{
  height:100vh;
  width:100vw;
  background-color: #eee;
}
.loginFooter{
  background-color: #eee;

}
.loginFooterText{
  color:#0D47A1;
  font-size: 70%;
  padding: 0 40px;
}
.loginfooterCopy{
  font-size: 80%;
  color:#4d4d4d;
}
@media only screen and (max-width: 992px){
  .navbar-img{
    width:90%
  }
}
@media only screen and (min-width: 992px){
  .navbar-img{
    width:70%
  }
  .first-nav{
    margin-left: 30px;
  }
}
@media only screen and (min-width: 768px){
  .social-buttons-links{
    float: right;
    padding-top: 15px;
  }
}

@media only screen and (max-width: 768px){
  .social-buttons-links{
    float:left;
    margin-bottom: 10px;
  }
  .navbar-img{
    width:65%
  }
}
@media only screen and (max-width: 500px){
  .navbar-img{
    width:75%
  }
}
.links:hover{
  text-decoration: none;
  color: #000;
}
.links:active{
  color:#000;
}
.activeLinks{
  color:#000;
  background-color: #fff;
  padding: 10px 10px;
}